<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body>
<%- include('./partials/nav') %>
<div class="jumbotron">
    <div class="container">
        <h1>QuickBooks Demo APP</h1>
    </div>
</div>
<div class="container">
    <a class="btn btn-primary" href="/" style="float: right;">Go to Home</a>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>NAME</th>
            <th>Action</th>
        </thead>
        <tbody id="custom">
        </tbody>
    </table>
</div>

<script>
    async function getCustomers(){
        try {
            let response = await fetch('/get_customers');
            return data = await response.json();
        } catch (error) {
            console.log(error);
        }
    }

    async function updateCustomers() {
        let customers = await getCustomers();
        let html = '';
        customers.forEach(customer => {
            let htmlSeg = "";
            htmlSeg = `<tr><td>${customer.Id}</td><td>${customer.GivenName} ${customer.FamilyName}</td>
            <td><a class="btn btn-primary" href="/show_invoices/${customer.Id}">See Invoice</a>
            <a class="btn btn-success" href="/create_invoice/${customer.Id}">Create Invoice</a></td></tr>`;
            html += htmlSeg;
            console.log(customer.Id);
        });
        document.getElementById("custom").innerHTML = html;        
    }
    updateCustomers();
    setInterval(updateCustomers, 60000);
</script>
