<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body>
<%- include('./partials/nav') %>
<div class="jumbotron">
    <div class="container">
        <h1>QuickBooks Demo APP</h1>
    </div>
</div>
<div class="container">
    <a class="btn btn-primary" href="/" style="float: right;">Go to Home</a>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>DocNumber</th>
            <th>TxnDate</th>
            <th>CustomerRef</th>
            <th>TotalAmt</th>
        </thead>
        <tbody id="invoices">
        </tbody>
    </table>
</div>
<script>
    async function getInvoices(){
        try {
            let response = await fetch('/get_invoices');
            console.log(response.status);
            console.log(response.statusText);
            return data = await response.json();
        } catch (error) {
            console.log(error);
        }
    }

    async function updateInvoices() {
        let invoices = await getInvoices();
        console.log(invoices.length);
        let html = '';
        invoices.forEach(invoice => {
            let htmlSeg = "<tr>"
                    + "<td>" + invoice.Id + "</td>"
                    + "<td>" + invoice.DocNumber + "</td>"
                    + "<td>" + invoice.TxnDate + "</td>"
                    + "<td>" + invoice.CurrencyRef.value + "</td>"
                    + "<td>" + invoice.TotalAmt + "</td>"
                + "</tr>";
            html += htmlSeg;
        });
        document.getElementById("invoices").innerHTML = html;        
    } 
    updateInvoices();
    setInterval(updateInvoices, 60000);
</script>